@{
    ViewData["Title"] = "사용자 신청";
}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="~/css/Regiform.css" />
</head>
<body class="wrapper Regiform-Main">
    <header class="Regiform-Header">

    </header>
    <div class="Regiform-Contents">

    </div>
</body>
</html>