*{
    font-family: NanumSquareRound;
}

[class*=sidebar-dark-] {
    background-color: #ededed;
}

.sidebar-dark-primary .brand-link {
    border-bottom: none;
    color: rgba(255,255,255,.8);
}

.sidebar-dark-primary .user-panel {
    border-bottom: 3px solid #d3d3d3;
    height: 70px;
}

.brand-link .brand-image{
    float:none;
    margin-top:5px;
}

[class*=sidebar-dark-] .nav-sidebar > .nav-item > .nav-treeview{
    background-color: #d3d3d3;
}

.layout-fixed .wrapper .sidebar {
    height: calc(97vh - (3.5rem + 1px));
}

.language{
    padding-top:9px;
}

.header_lang {
    display: inline-block;
    vertical-align: middle;
    margin: 0 41px 0 0;
    font-size: 12px;
}

.header_lang a {
    position: relative;
    color: #333;
}

    .header_lang a[aria-selected="false"] {
        opacity: 0.6;
    }

    .header_lang a:first-child {
        margin: 0 21px 0 0;
    }

        .header_lang a:first-child:after {
            content: '';
            display: block;
            position: absolute;
            right: -12px;
            top: 2px;
            width: 1px;
            height: 9px;
            background-color: #333;
            opacity: 0.6;
            filter: alpha(opacity=60);
        }

    .header_lang a:nth-child(2) {
        margin: 0 21px 0 0;
    }

        .header_lang a:nth-child(2):after {
            content: '';
            display: block;
            position: absolute;
            right: -12px;
            top: 2px;
            width: 1px;
            height: 9px;
            background-color: #333;
            opacity: 0.6;
            filter: alpha(opacity=60);
        }

@media(max-width: 574px) {
    .settings {
        display:block;
    }

    .language{
        display:none;
    }
}

@media(min-width: 574px) {
    .settings {
        display:none;
    }
}

.logout {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 40px;
    border: none;
    color: black;
    font-size: 10px;
}
    .logout p {
        margin-top: 30%;
        margin-left:40%;
        font-family: NanumSquareRound;
        font-weight: 700;
    }


.bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-contents {
    height: 300px;
    width: 500px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
    
}

.close:hover {
    color: #666;
}

