.modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 250px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active{
    
    visibility:visible;
    opacity: 1;
}

.modal-div {
    position: relative;
    width: 60%;
    height: 60%;
    margin-right:200px;
}

.modal_1 {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    display:flex;
    visibility: hidden;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
}

.modal_1 button {
    padding: 10px 30px;
    background-color: #2980b9;
    color: white;
    border: none;
    font-family: NanumSquareRound;
    cursor: pointer;
}

.md-active {
    visibility:visible !important;
}


.modal_close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight:bold;
    cursor:pointer;
    margin-right:10px;
}

.modal_2 {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
}

    .modal_2 button {
        padding: 10px 30px;
        background-color: #2980b9;
        color: white;
        border: none;
        font-family: NanumSquareRound;
        cursor: pointer;
    }

.noscrolling{
    overflow:hidden;
}