.OUTLINE {
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 2;
}

#CD11 {
    fill:white;
}

    #CD11:hover {
        fill :#32a9e5
    }



.TEXT {
    fill: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
    
}

.land:hover {
    fill: #32a9e5;
}

.g_size {
    transform: scale(0.6);
}    


@media(max-width: 574px){
    .Map{
        height:700px;
        

    }

    .g_size {
        transform:scale(0.5);
    }    
}


