a, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

@media(max-width: 574px) {

    .Main-Page {
        position: relative;
        width: 100%;
        height: 250px;
        background-image: linear-gradient(151deg, #3247e0, #e25b55);
        font-family: NanumSquare;
        color: white;
    }

        .Main-Page .slide_text_box {
            position: absolute;
            left: 20px;
            top: 20px;
        }

        .Main-Page .slide_title {
            margin-bottom: 32px;
            font-family: "NanumSquare-EB", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
            font-size: 20px;
            line-height: 30px;
        }

            .Main-Page .slide_title strong {
                display: table-cell;
                vertical-align: middle;
                height: 92px;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: -1px;
            }

        .Main-Page .slide_text {
            font-size: 15px;
            line-height: 1.6;
        }

            .Main-Page .slide_text span {
                display: table-cell;
                vertical-align: middle;
                height: 48px;
            }

                .Main-Page .slide_text span em {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 3px;
                }

    /* Position these two as you please */
    .trigger-top,
    .trigger-bottom {
        width: 100%;
        text-indent: -50%;
        position: fixed;
        top: 50%;
        border-top: 1px dotted transparent;
    }

    .trigger-bottom {
        top: auto;
        bottom: 40%;
    }

    .video-wrapper {
        position: relative;
        border: 1px solid transparent;
        width: 100%;
        margin: 0 auto;
    }

        .video-wrapper .tracker {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 1px;
            padding: 1px; /* these 3 attributes are here just for the show */
            border: 1px solid transparent;
            color: transparent;
            line-height: 1px;
            text-indent: 5px; /* again, just for the show */
        }

    .gallery-section {
        width: 100%;
        padding: 10px 0;
        background: #f1f1f1;
    }

    .inner-width {
        width: 100%;
        
        margin: auto;
        padding: 0 20px;
    }

    .gallery-section h1 {
        text-align: center;
        text-transform: uppercase;
        color: #333;
    }

    .border {
        width: 20px;
        height: 2px;
        background: #333;
        margin: 30px auto;
    }

    .gallery-section .gallery {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .gallery-section .image {
        flex: 25%;
        overflow: hidden;
        cursor: pointer;
    }

        .gallery-section .image img {
            width: 100%;
            height: 100%;
            transition: 0.4s;
        }

        .gallery-section .image:hover img {
            transform: scale(1.4) rotate(15deg);
        }
    
}
@media(min-width: 574px) {

    

    .Main-Page {
        position: relative;
        width: 100%;
        height: 600px;
        background-image: linear-gradient(151deg, #3247e0, #e25b55);
        font-family: NanumSquare;
        color:white;
    }
    

        .Main-Page .slide_text_box {
            position: absolute;
            left: 160px;
            top: 200px;
        }

        .Main-Page .slide_title {
            margin-bottom: 32px;
            font-family: "NanumSquare-EB", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
            font-size: 36px;
            line-height: 46px;
        }

            .Main-Page .slide_title strong {
                display: table-cell;
                vertical-align: middle;
                height: 92px;
                font-size: 45px;
                font-weight:700;
                line-height: 46px;
                letter-spacing: -1px;
            }

        .Main-Page .slide_text {
            font-size: 15px;
            line-height: 1.6;
        }

            .Main-Page .slide_text span {
                display: table-cell;
                vertical-align: middle;
                height: 48px;
            }

                .Main-Page .slide_text span em {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 3px;
                }

    /* Position these two as you please */
    .trigger-top,
    .trigger-bottom {
        width: 100%;
        text-indent: -50%;
        position: fixed;
        top: 30%;
        border-top: 1px dotted transparent;
    }

    .trigger-bottom {
        top: auto;
        bottom: 30%;
    }

    .video-wrapper {
        position: relative;
        border: 1px solid transparent;
        width: 1500px;
        margin: 0 auto;
    }

        .video-wrapper .tracker {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 1px;
            padding: 1px; /* these 3 attributes are here just for the show */
            border: 1px solid transparent;
            color: transparent;
            line-height: 1px;
            text-indent: 5px; /* again, just for the show */
        }


    .main_slide {
        overflow: hidden;
        position: relative;
    }

        .main_slide .slide {
            width: 500%;
        }

            .main_slide .slide:after {
                content: '';
                display: block;
                clear: both;
            }

            .main_slide .slide .slide_item {
                width: 20%;
            }

                .main_slide .slide .slide_item img {
                    width: 100%;
                }

        .main_slide .slide_info_container {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
        }

        .main_slide .slide_info_box {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            color: #fff;
        }

        .main_slide .slide_logo {
            position: absolute;
            right: 160px;
            width: 190px;
            background: url(../../img/ko/sprite.png) no-repeat;
            -webkit-background-size: 474px 1250px;
            background-size: 474px 1250px;
        }

            .main_slide .slide_logo.smartlens {
                bottom: 78px;
                height: 36px;
                background-position: 0 -1063px;
            }

            .main_slide .slide_logo.flower {
                bottom: 60px;
                height: 53px;
                background-position: -143px -1101px;
            }

            .main_slide .slide_logo.spacegreen {
                bottom: 70px;
                width: 134px;
                height: 50px;
                background-position: 0 -1104px;
            }

            .main_slide .slide_logo.labs {
                bottom: 70px;
                width: 168px;
                height: 24px;
                background-position: -192px -1162px;
            }

            .main_slide .slide_logo.cloudplatform {
                bottom: 103px;
                width: 345px;
                height: 29px;
                background-position: 0 -1204px;
            }

        .main_slide .slide_text_box {
            position: absolute;
            left: 160px;
            bottom: 157px;
        }

        .main_slide .slide_title {
            margin-bottom: 32px;
            font-family: "NanumSquare-EB", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
            font-size: 36px;
            line-height: 46px;
        }

            .main_slide .slide_title strong {
                display: table-cell;
                vertical-align: middle;
                height: 92px;
                font-size: 36px;
                line-height: 46px;
                letter-spacing: -1px;
            }

        .main_slide .slide_text {
            font-size: 15px;
            line-height: 1.6;
        }

            .main_slide .slide_text span {
                display: table-cell;
                vertical-align: middle;
                height: 48px;
            }

                .main_slide .slide_text span em {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 3px;
                }

        .main_slide .slide_progressbar {
            position: absolute;
            left: 160px;
            bottom: 221px;
            width: calc(100% - 320px);
            height: 1px;
            background-color: rgba(255, 255, 255, 0.2);
        }

            .main_slide .slide_progressbar .fill {
                position: absolute;
                left: 0;
                top: 0;
                height: 1px;
                background-color: #fff;
                -webkit-transition: width .3s;
                transition: width .3s;
            }

        .main_slide .slide_paging {
            position: absolute;
            left: 160px;
            bottom: 114px;
            font-size: 12px;
            color: #fff;
        }

            .main_slide .slide_paging:after {
                content: '';
                display: block;
                clear: both;
            }

            .main_slide .slide_paging .current {
                float: left;
                font-family: "NanumSquare-EB", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
            }

            .main_slide .slide_paging .total {
                float: left;
                position: relative;
                padding-left: 14px;
                font-family: "NanumSquare-L", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
                font-size: 12px;
            }

                .main_slide .slide_paging .total:before {
                    content: '';
                    position: absolute;
                    left: 7px;
                    top: 50%;
                    width: 1px;
                    height: 8px;
                    margin-top: -5px;
                    background-color: #d6d6d5;
                }

        .main_slide .btn_prev, .main_slide .btn_next {
            position: absolute;
            bottom: 198px;
            width: 46px;
            height: 46px;
            background: url(../../img/ko/sprite.png) no-repeat;
            -webkit-background-size: 474px 1250px;
            background-size: 474px 1250px;
            opacity: .8;
            filter: alpha(opacity=80);
            -webkit-transition: opacity .3s;
            transition: opacity .3s;
        }

            .main_slide .btn_prev:hover, .main_slide .btn_prev:focus, .main_slide .btn_next:hover, .main_slide .btn_next:focus {
                opacity: 1;
                filter: alpha(opacity=100);
            }

        .main_slide .btn_prev {
            left: 85px;
            background-position: -296px -99px;
        }

        .main_slide .btn_next {
            right: 85px;
            background-position: -346px -99px;
        }

    .gallery-section {
        width: 100%;
        padding: 60px 0;
        background: #f1f1f1;
    }

    .inner-width {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
    }

    .gallery-section h1 {
        text-align: center;
        text-transform: uppercase;
        color: #333;
    }

    .border {
        width: 180px;
        height: 4px;
        background: #333;
        margin: 60px auto;
    }

    .gallery-section .gallery {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .gallery-section .image {
        flex: 25%;
        overflow: hidden;
        cursor: pointer;
    }

        .gallery-section .image img {
            width: 100%;
            height: 100%;
            transition: 0.4s;
        }

        .gallery-section .image:hover img {
            transform: scale(1.4) rotate(15deg);
        }
}
