html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #f7f7f7;
    font-family: Arial, Roboto, "Helvetica Neue", "Apple Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}
