body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #f7f7f7;
    font-family: Arial, Roboto, "Helvetica Neue", "Apple Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

.wrapper {
    display: flex; /* 플렉스 지정 */
    flex-direction: column; /* 방향 위에서 아래로 */
    /* min-height: 100vh; /* ie10-ie11 min-height 문제 */
    height: 100%;
    min-width: 319px;
}

.Regiform-Header {
    display: block;
    border-bottom: 1px solid #d5d5d5;
    background-color: #fff;
}
