*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:NanumSquare;
}



.container-fluid{
    padding: 0 10px;
}

.wrapper{
    max-width:900px;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
}

.title{
    font-size:40px;
    font-weight: 700;
    margin-bottom:25px;
    text-transform:uppercase;
    text-align: center;

}

.input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.input_field label/*:not(#address)*/ {
    width: 170px;
    color: black;
    margin-right: 10px;
    font-size: 24px;
}

#address {
    width: 70px;
    color: black;
    margin-right: 10px;
    font-size: 24px;
}

#pw_input, #id_input, #pwConfirm_input{
    width: 200px;
}

#inlineFormInputName, #emails {
    width: 150px;
}

#chosenSelect{
    margin-left:9px;
    width:150px;
}

#postcode {
    width: 200px;
}

#roadAddress, #detailAddress {
    margin-left: 180px
}

#roadAddress, #jibunAddress {
    margin-top: 10px;
    width: 310px;
}

#detailAddress, #extraAddress {
    margin-top:10px;
    width: 280px;
}