/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

body,
input,
textarea,
select,
button {
    font-family: "NanumSquare", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
    font-size: 14px;
}

fieldset,
img {
    border: 0;
}

img {
    vertical-align: top;
}

li,
ol,
ul {
    list-style: none;
}

address,
em,
i {
    font-style: normal;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
b,
em {
    font-weight: normal;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

button {
    border: 0;
    background: none;
    -webkit-appearance: none;
}

    button:hover {
        cursor: pointer;
    }

input {
    border: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

caption {
    text-indent: -9999px;
    font-size: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: 'NanumSquare' !important;
    color: #333 !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'NanumSquare' !important;
    color: #333 !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'NanumSquare' !important;
    color: #333 !important;
}

input:-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'NanumSquare' !important;
    color: #333 !important;
}

textarea::-moz-placeholder {
    font-family: 'NanumSquare' !important;
    color: #333 !important;
}

textarea:-moz-placeholder {
    font-family: 'NanumSquare' !important;
    color: #333 !important;
}

textarea:-ms-input-placeholder {
    font-family: 'NanumSquare' !important;
    color: #333 !important;
}

input::-ms-clear {
    display: none;
}

body,
html {
    height: 100%;
    font-style: normal;
    line-height: 1.4;
    -webkit-text-size-adjust: none;
}

#wrap {
    position: relative;
    min-width: 1120px;
    min-height: 99%;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    min-width: 1100px;
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-transition: top .4s ease-in-out;
    transition: top .4s ease-in-out;
}

    header:hover {
        background-color: white;
    }

.header_up {
    top: -80px;
}

.header_wrap {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

    .header_wrap:after {
        content: '';
        display: block;
        clear: both;
    }

    .header_wrap .header_logo {
        float: left;
        width: 140px;
        height: 30px;
        margin: 25px 0 0 30px;
        background: url('../Logo/granco 로고 png.png') no-repeat;
        background-size: 140px 30px;
    }

        .header_wrap .header_logo a {
            display: block;
            width: 100%;
            height: 100%;
        }

nav {
    display: inline-block;
}

.gnb_menu {
    font-size: 0;
    text-align: center;
}

    .gnb_menu .gnb_menu_list, .gnb_menu .gnb_menu_list_recruit {
        display: inline-block;
    }

        .gnb_menu .gnb_menu_list .gnb_menu_item:before, .gnb_menu .gnb_menu_list_recruit .gnb_menu_item:before {
            content: '';
            position: absolute;
            left: -1px;
            bottom: 20px;
            width: calc(100% + 2px);
            height: 2px;
            background-color: #212660;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        .gnb_menu .gnb_menu_list:hover .gnb_menu_item:before, .gnb_menu .gnb_menu_list .gnb_menu_item:focus:before, .gnb_menu .gnb_menu_list_recruit:hover .gnb_menu_item:before, .gnb_menu .gnb_menu_list_recruit .gnb_menu_item:focus:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

        .gnb_menu .gnb_menu_list.on .gnb_menu_item:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

        .gnb_menu .gnb_menu_list_recruit:hover .gnb_menu_item.recruit:after, .gnb_menu .gnb_menu_list_recruit .gnb_menu_item:focus:after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 31px;
            width: 18px;
            height: 18px;
            background: url(../../img/ko/sprite.png) no-repeat;
            -webkit-background-size: 474px 1250px;
            background-size: 474px 1250px;
            background-position: -59px 0;
        }

    .gnb_menu .gnb_menu_item {
        display: block;
        position: relative;
        margin: 0 32px;
        padding: 29px 0 30px;
        font-family: "NanumSquare-EB", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
        font-size: 15px;
        color: #333;
    }

        .gnb_menu .gnb_menu_item.recruit {
            padding-right: 25px;
        }

    .gnb_menu .gnb_dropMenu_wrap {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        z-index: 999;
        min-width: 1100px;
        height: 100px;
        background-color: #515151;
        font-size: 0;
        text-align: center;
    }

        .gnb_menu .gnb_dropMenu_wrap > li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 190px;
            height: 100px;
            padding: 28px 0 0;
            -webkit-transition: all .3s;
            transition: all .3s;
        }

            .gnb_menu .gnb_dropMenu_wrap > li:before, .gnb_menu .gnb_dropMenu_wrap > li:last-child:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: #dfdfdf;
            }

            .gnb_menu .gnb_dropMenu_wrap > li:last-child:after {
                left: auto;
                right: 0;
            }

            .gnb_menu .gnb_dropMenu_wrap > li:hover {
                background-color: #dfdfdf;
            }

                .gnb_menu .gnb_dropMenu_wrap > li:hover .gnb_dropMenu_item {
                    color: #333;
                }
                .gnb_menu .gnb_dropMenu_wrap > li:hover:before, .gnb_menu .gnb_dropMenu_wrap > li:hover + li:before, .gnb_menu .gnb_dropMenu_wrap > li:last-child:hover:after {
                    display: none;
                }

    .gnb_menu .gnb_dropMenu > li {
        margin: 0 0 5px;
        font-size: 15px;
        text-align: left;
    }

        .gnb_menu .gnb_dropMenu > li.depth_blank {
            margin-bottom: 14px;
        }

        .gnb_menu .gnb_dropMenu > li:last-child {
            margin-bottom: 0;
        }

    .gnb_menu .gnb_dropMenu .classify {
        margin-bottom: 22px;
        padding-top: 22px;
        border-top: 1px solid #dfdfdf;
        ;
    }

        .gnb_menu .gnb_dropMenu .classify:first-child {
            padding-top: 0;
            border-top: 0;
        }

    .gnb_menu .gnb_dropMenu .gnb_dropMenu_item {
        display: block;
        padding: 0 0 0 28px;
        color: #fff;
        line-height: 1.2;
    }

        .gnb_menu .gnb_dropMenu .gnb_dropMenu_item.btn_link:hover {
            text-decoration: none;
        }

        .gnb_menu .gnb_dropMenu .gnb_dropMenu_item.btn_link:after {
            right: 74px;
            top: 17px;
            background-position: -81px 0;
        }

        .gnb_menu .gnb_dropMenu .gnb_dropMenu_item .depth {
            position: relative;
            display: inline-block;
            font-family: "NanumSquare-L", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
            font-size: 14px;
            opacity: .8;
            filter: alpha(opacity=80);
        }

        .gnb_menu .gnb_dropMenu .gnb_dropMenu_item span:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 1px;
            background-color: #fff;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        .gnb_menu .gnb_dropMenu .gnb_dropMenu_item:hover span:before, .gnb_menu .gnb_dropMenu .gnb_dropMenu_item:focus span:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

        .gnb_menu .gnb_dropMenu .gnb_dropMenu_item strong span {
            position: relative;
            font-family: "NanumSquare-B", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
        }

        .gnb_menu .gnb_dropMenu .gnb_dropMenu_item:hover .depth, .gnb_menu .gnb_dropMenu .gnb_dropMenu_item:focus .depth {
            font-family: "NanumSquare", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
            opacity: 1;
            filter: alpha(opacity=100);
        }

.header_util {
    float: right;
    width: 144px;
    margin: 29px 25px 0 0;
    font-size: 0;
}

    .header_util:after {
        content: '';
        display: block;
        clear: both;
    }

    .header_util .header_lang {
        display: inline-block;
        vertical-align: middle;
        margin: 0 41px 0 0;
        font-size: 12px;
    }

        .header_util .header_lang a {
            position: relative;
            color: #333;
        }

            .header_util .header_lang a[aria-selected="false"] {
                opacity: 0.6;
            }

            .header_util .header_lang a:first-child {
                margin: 0 21px 0 0;
            }

                .header_util .header_lang a:first-child:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: -12px;
                    top: 2px;
                    width: 1px;
                    height: 9px;
                    background-color: #333;
                    opacity: 0.6;
                    filter: alpha(opacity=60);
                }

    .header_util .sitemap_box {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 23px;
    }

    .header_util .btn_sitemap {
        position: relative;
        width: 100%;
        height: 100%;
    }

        .header_util .btn_sitemap .btn_line {
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            left: 0;
            background-color: #333;
            -webkit-transition: all .3s;
            transition: all .3s;
        }

            .header_util .btn_sitemap .btn_line:nth-child(2) {
                top: 4px;
            }

            .header_util .btn_sitemap .btn_line:nth-child(3) {
                top: 10px;
            }

            .header_util .btn_sitemap .btn_line:nth-child(4) {
                bottom: 5px;
            }

        .header_util .btn_sitemap:hover .btn_line {
            background-color: #00c73c;
        }

.sitemap, .sitemap_dimmed {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
}

.footer_wrap {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 74px 0 70px;
    text-align: center;
}

    .footer_wrap:after {
        content: '';
        display: block;
        clear: both;
    }

    .footer_wrap .footer_copy {
        margin: 0 auto;
        width: 337px;
        height: 16px;
        font-size: 0;
        line-height: 0;
        text-indent: -999px;
        background: url(../../img/ko/footer_copy.png) no-repeat;
        overflow: hidden;
    }

    .footer_wrap .footer_logo {
        position: absolute;
        left: 30px;
        top: 76px;
        width: 63px;
        height: 13px;
        margin: 0 auto;
        background: url('../Logo/granco 로고 png.png') no-repeat;
        background-size: 63px 13px;
    }

.footer_menu {
    position: absolute;
    left: 105px;
    top: 74px;
    font-size: 0;
}

    .footer_menu > li {
        display: inline-block;
        position: relative;
        margin: 0 10px;
        font-size: 14px;
    }

        .footer_menu > li:before {
            content: '';
            position: absolute;
            left: -10px;
            top: 3px;
            width: 1px;
            height: 12px;
            background-color: #dfe0e1;
        }

        .footer_menu > li:first-child:before {
            display: none;
        }

    .footer_menu .footer_menu_item {
        color: #878890;
    }

.affiliate_box {
    position: absolute;
    right: 30px;
    top: 74px;
}

    .affiliate_box .btn_affiliate {
        position: relative;
        padding-right: 26px;
    }

        .affiliate_box .btn_affiliate:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 16px;
            height: 16px;
            background: url(../../img/ko/sprite.png) no-repeat;
            -webkit-background-size: 474px 1250px;
            background-size: 474px 1250px;
            background-position: -222px -26px;
        }

.btn_more.type2[aria-expanded="true"] ~ .article_container {
    height: auto;
}

.affiliate_list {
    display: none;
    position: absolute;
    left: -81px;
    bottom: 0;
    width: 200px;
    padding: 27px 0 25px;
    border: 1px solid #dfe0e1;
    background-color: #fff;
    text-align: left;
}

.affiliate_item {
    margin-top: 13px;
}

    .affiliate_item:first-child {
        margin-top: 0;
    }

    .affiliate_item > a {
        display: block;
        width: 100%;
        padding: 0 24px;
        color: #878890;
    }

        .affiliate_item > a span {
            position: relative;
        }

            .affiliate_item > a span:before {
                display: none;
                content: '';
                position: absolute;
                right: -24px;
                top: -2px;
                width: 18px;
                height: 18px;
                background: url(../../img/ko/sprite.png) no-repeat;
                -webkit-background-size: 474px 1250px;
                background-size: 474px 1250px;
                background-position: -104px -68px;
            }

        .affiliate_item > a:hover, .affiliate_item > a:focus {
            color: #00b843;
        }

            .affiliate_item > a:hover span:before, .affiliate_item > a:focus span:before {
                display: block;
            }

.btn_affiliate[aria-expanded="true"] ~ .affiliate_list {
    display: block;
}

@media only screen and (max-width: 1200px) {
    .footer_wrap .footer_copy {
        margin-left: 423px;
    }
}

.footer_wrap .footer_copy {
    margin: 0 auto;
    width: 337px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
    background: url(../../img/ko/footer_copy.png) no-repeat;
    overflow: hidden;
}

.container {
    padding: 80px 0 160px;
    max-width: 100%;
}