/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

textarea[name=ContentsTextArea]{
    resize: none;
    overflow-y: auto;
    height:300px;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    min-width: 1100px;
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-transition: top .4s ease-in-out;
    transition: top .4s ease-in-out;
}

nav {
    display: inline-block;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-bottom{
    
}
.border-top {
    border-top: none;
}



button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

a, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}
.footer {
   
    position: absolute;
    background-color: #FBFCFC;
    /*height: 10px;*/
    color: #707070;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 15px;  /*Vertically center the text there */
}
.main {
    background-image: linear-gradient(141deg, #3498db, #8e44ad);
    filter: brightness(1.3);
}

#navMain {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    max-height: 80px;
    height: 100%;

}

.logo{
    float:left;
}

img {
    width: 140px;
    
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.gnb_menu {
    font-size: 0;
    text-align: center;
}

.gnb_menu .gnb_menu_list, .gnb_menu .gnb_menu_list_recruit {
    display: inline-block;
}

.gnb_menu .gnb_menu_item {
    display: block;
    position: relative;
    margin: 0 32px;
    padding: 29px 0 30px;
    font-family: "NanumSquare-EB", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
    font-size: 15px;
    color: #333;
}

.gnb_menu .gnb_menu_list .gnb_menu_item:before, .gnb_menu .gnb_menu_list_recruit .gnb_menu_item:before {
    content: '';
    position: absolute;
    left: -1px;
    bottom: 20px;
    width: calc(100% + 2px);
    height: 2px;
    background-color: #1ec545;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.gnb_menu .gnb_dropMenu > li {
    margin: 0 0 5px;
    font-size: 15px;
    text-align: left;
}

.gnb_menu .gnb_dropMenu_wrap {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 999;
    min-width: 1100px;
    height: 276px;
    background-color: #1ec545;
    font-size: 0;
    text-align: center;
}

.gnb_menu .gnb_dropMenu_wrap > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 276px;
    padding: 28px 0 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.gnb_menu .gnb_dropMenu > li.depth_blank {
    margin-bottom: 14px;
}

.gnb_menu .gnb_dropMenu > li:last-child {
    margin-bottom: 0;
}

.header_util {
    float: right;
    width: 144px;
    margin: 29px 25px 0 0;
    font-size: 0;
}

.header_util .sitemap_box {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 23px;
}

.header_util .header_lang {
    display: inline-block;
    vertical-align: middle;
    margin: 0 41px 0 0;
    font-size: 12px;
}

.header_util .header_lang a:first-child {
    margin: 0 21px 0 0;
}

.header_util .header_lang a[aria-selected="false"] {
    opacity: 0.6;
}

.header_util .header_lang a {
    position: relative;
    color: #333;
}

.header_util .header_lang a:first-child:after {
    content: '';
    display: block;
    position: absolute;
    right: -12px;
    top: 2px;
    width: 1px;
    height: 9px;
    background-color: #333;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.header_util .btn_sitemap {
    position: relative;
    width: 100%;
    height: 100%;
}

.header_util .btn_sitemap .btn_line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #333;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.header_util .btn_sitemap .btn_line:nth-child(2) {
    top: 4px;
}

.header_util .btn_sitemap .btn_line:nth-child(3) {
    top: 10px;
}

.header_util .btn_sitemap .btn_line:nth-child(4) {
    bottom: 5px;
}

button {
    border: 0;
    background: none;
    -webkit-appearance: none;
}

@media (max-width: 574px) {
    .main {
        min-height: 95vh;
        max-width: 100vw;
    }

    .logo {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        display: block;
    }

    #navMain {
        min-height: 37px;
        max-height: 37px;
        height: 37px;
    }

    img {
        width: 100px;
    }

    ul {
        margin: 0;
        padding: 0;
    }
}