/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

textarea[name=ContentsTextArea]{
    resize: none;
    overflow-y: auto;
    height:300px;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    
  
    
   
}
.footer {
   
    position: absolute;
    background-color: #FBFCFC;
    /*height: 10px;*/
    color: #707070;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 15px;  /*Vertically center the text there */
}
.main {
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
    min-height:88vh;
    max-width:100vw;
    filter: brightness(1.3);
}

@media (max-width: 764px) {
    .main {
        background-image: linear-gradient(120deg, #3498db, #8e44ad);
        min-height: 95vh;
        max-width: 100vw;
        filter: brightness(1.3);
    }

    .logo {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        display: block;
        
    }

    #navMain {
        min-height: 37px;
        max-height: 37px;
        height: 37px;
    }

    img{
        width:100px;
    }

    ul {
        margin: 0;
        padding: 0;
    }
    
}

@media (min-width: 574px) {

    #navMain {
        min-height: 70px;
        max-height: 70px;
        height: 70px;
    }

    img {
        width: 140px;
    }

    
}