input[id="menuicon"] {
    display: none;
}

@media(max-width: 574px) {

    input[id="menuicon"] + label {
        display: block;
        margin-top: 7px;
        margin-left: 7px;
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
    }
}


input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
    z-index:2;
}

input[id="menuicon"] + label span:nth-child(1) {
    top: 10%;
}

input[id="menuicon"] + label span:nth-child(2) {
    top: 60%;
    transform: translateY(50%);
}
/* 비슷하게 사용할 수 있는 style top:calc(50% - 2.5px); margin-top:-2.5px;*/

input[id="menuicon"]:checked + label {
    z-index: 11;
}

input[id="menuicon"]:checked + label span {
    background: #000;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 25%;
    transform: translateY(-50%) rotate(-20deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
    bottom: 25%;
    transform: translateY(50%) rotate(20deg);
}


.sidebar {
    max-width: 290px;
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: -290px;
    z-index: 10;
    transition: all .35s;
}

input[id="menuicon"]:checked + label + div {
    left: 0;
}

.sidebar ul {
    margin-top:50px;
    width:100%;
    height:100%;
    list-style: none;
    text-decoration: none;
}

.sidebar ul li{
    
    line-height: 60px;
    font-size: 20px;
    color: black;
    border-bottom: 1px solid black;
}
    


    .sidebar ul li a{
        text-decoration: none;
        padding-left:40px;
        font-weight:500;
    }

        .sidebar ul li a:hover {
            color: cyan;
        }

    .sidebar ul li a:hover span.rotate{
        transform:translateY(-50%) rotate(-180deg);
    }

        .sidebar ul li a span {
            position: absolute;
            margin-top:20px;
            right: 20px;
            transform:translateY(-50%);
            transition: transform 0.4s;
        }

    .sidebar ul ul{
        position: static;
        display: none;
    }

    .sidebar ul .feat-show.show{
        display: block;
    }

    .sidebar ul .serv-show.show {
        display: block;
    }

    .sidebar ul .news-show.show {
        display: block;
    }

    .sidebar ul ul li{
        line-height:42px;
        border-bottom:none;
    }

i{
    margin-right: 30px; 
}
