input[id="menuicon"] {
    display: none;
}

input[id="menuicon"] + label {
    display: block;
    margin: 10px;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
    z-index:2;
}

input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
/* 비슷하게 사용할 수 있는 style top:calc(50% - 2.5px); margin-top:-2.5px;*/
input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}

input[id="menuicon"]:checked + label {
z-index: 11;
}

input[id="menuicon"]:checked + label span {
    background: #000;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 25%;
    transform: translateY(-50%) rotate(-20deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 25%;
    transform: translateY(50%) rotate(20deg);
}

.ischecked + .overlay{
    filter: brightness(20%);
}

.sidebar {
    max-width: 290px;
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: -290px;
    z-index: 10;
    transition: all .35s;
}

input[id="menuicon"]:checked + label + div {
    left: -10px;
}

.sidebar header{
    font-size: 30px;
    color: black;
    text-align: center;
    line-height: 70px;
    user-select: none;
}

.sidebar ul a{
    display:block;
    height: 100%;
    width:100%;
    line-height: 65px;
    font-size: 20px;
    color: black;
    padding-left:10px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,1);
    border-bottom: 1px solid black;
}

.slidebar ul a i{
    margin-right: 15px; 
}
