@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>*@
@*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

@*<script type="text/javascript">
    $(function () {
        $('.modal').modal('show');
    });
</script>*@

<div class="container">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">로그인 실패</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <p> 아이디 혹은 비밀번호가 틀립니다.</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnHideModal" class="close" data-dismiss="modal">
                        닫기
                    </button>
                </div>
            </div>
        </div>
    
</div>



