

<link rel="stylesheet" href="~/css/CareerMain.css" />

<div id="gnbDivV2" class="gnb_area" style="">
    <div class="gnb_con">
        <div class="gnb">
            <h2 class="blind">채용 서비스 메뉴</h2>
            <ul>
                <li id="menu_developer">개발</li>
                <li id="menu_designer">디자인</li>
                <li id="menu_contents">엔지니어</li>
                <li id="menu_management">경영지원</li>
            </ul>
        </div>
        <div class="sup_area">
            <h2 class="blind">마이 페이지</h2>
            <ul>
                <li>내 지원서</li>
                <li>지원문의</li>
            </ul>
        </div>
    </div>
</div>
<div id="container">

    <!-- content -->
    <div id="content">
        <div class="job_fam">
            <div class="work_head">
                <h3 class="w_tit"><em>Granco</em>와 함께 시작할 인재를 찾습니다.</h3>
            </div>
            <div class="wrk_img_box">
                <img src="/Img/20191115_151101.jpg" width="980" height="450">
            </div>
            <div class="wrk_txt_box">
                그란코는 자기소개서 같은 형식적인 절차보다는
                <br>
                지원자님들이 걸어온 길을 보고싶습니다.
                <br>
                그란코는 평범한 회사로써 성공하기 보다는
                <br>
                직원들과 함께 꾸며나가는 회사로 성장하길 원합니다
                <br>
                저희 그란코와 함께 새로운 스토리를 꾸밀 인재를 찾습니다!
                <br>
            </div>
            <div>
                <a class="sp app_inqu"><span class="blind">지원하러 가기</span></a>
            </div>
        </div>
    </div>
    <!-- //content -->

</div>