@{
    ViewData["Title"] = "Home Page";
}

<div id="wrap">
    <div class="form-group Index">
        <h1>자동화 솔루션, 그 연결을 잇다</h1>
        <p style="color:whitesmoke;">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
