@{
    ViewData["Title"] = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>



<div class="text-center" style="top: 50%; left: 40%; position: fixed;">
    <h1 class="display-4" style="color:whitesmoke">Welcome</h1>
    <p style="color:whitesmoke">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
